*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

.top-header{
    position: fixed;
    alignment: top;
    display: flex;
    height: 35px;
    width: 100%;
    background-color: black;
    justify-content: flex-end;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    color: black;
}

.header-button{
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-button:hover{
    background-color: rgb(22,148,255);
    transition-duration: 0.3s;
}
.content {
    display: flex;
    flex-direction: column;
    position: static;
    alignment: center;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    background-color: white;
    margin: 0 auto;
    min-height: 1000px;
}

.logo {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    background-image: url("../images/cut1_mehr_farbe.png");
    background-position: center;
}

#myconLogo{
    height: 125px;
    margin-top: 10%;

}

.convention-picture{
    display: flex;
    max-width: 95%;
    height: auto;
    background-color: lightgray;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.imprint{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer:hover{
    background-color: rgb(22,148,255);
    transition-duration: 0.7s;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav-button{
    border-top: 1px solid rgb(22,148,255);
    border-bottom: 1px solid rgb(22,148,255);
    color: rgb(22,148,255);
    text-align: center;

    width: 200px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-button:hover{
    color: white;
    background-color: rgb(22,148,255);
    transition-duration: 0.7s;
}

.convention-text{
    display: flex;
    color: black;
    width: 90%;
    font-size: 20px;
    flex-direction: column;
    line-height: 150%;
}

.convention-text>h2{
    margin-top: 40px;
}

.convention-button{
     width: 200px;
     height: 30px;
     color: rgb(22,148,255);
     font-size: 16px;
     background-color: white;
     border: 1px solid rgb(22,148,255);
     text-align: center;
 }

.convention-button:hover{
    background-color: rgb(22,148,255);
    color: white;
    transition-duration: 0.7s;
}

.offer{
    display: flex;
    font-size: 12px;
    color: rgb(22,148,255);
    margin-top: 2em;
    flex-direction: column;
}

.offer-button{
    width: 100px;
    height: auto;
    color: rgb(22,148,255);
    font-size: 12px;
    background-color: white;
    border: 1px solid rgb(22,148,255);
    text-align: center;
    margin-top: 5px;
}

.offer-button:hover{
    background-color: rgb(22,148,255);
    color: white;
    transition-duration: 0.7s;
}

.convention-title{
    width: 95%;
}

a{
    text-decoration: none;
}

.login-drop{
    background-color: black;
    position: absolute;
    margin-top: 35px;
    width: 200px;
    transition: height 0.3s linear 0s;
    overflow: hidden;
    color: white;
}

.login-form{
    text-align: center;
}

.login-button{
    background-color: black;
    width: 50%;
    height: 30px;
    margin: 5px;
    border: 1px solid white;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.login-button:hover{
    background-color: rgb(22,148,255);
    transition-duration: 0.3s;
}